// Place all the styles related to the start controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  font-size: 72px;
  width: 700px;
  margin: auto;
  background-color: #ef596e;

}